<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Book ' + book.getName() + ' by ' + book.getAuthor().getName()}">book</title>
</head>
<body>
    <div>
        <div th:include="commonMenu :: commonMenu"></div>
        <h3>Book:</h3>
        <div>
            <p>Name: <span th:text="${book.getName()}">name</span></p>
            <p>Author: <span th:text="${book.getAuthor().getName()}">author</span></p>
            <p>Year: <span th:text="${book.getYear()}">year</span></p>
            <p th:if="${book.isAvailable()}">Status: <span>is available</span></p>
            <p th:unless="${book.isAvailable()}">Status: is not available</p>
        </div>
        <hr/>
        <p><a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a></p>
        <form method="POST" th:action="@{/books/{id}(id=${book.getId()})}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
    </div>
</body>
</html>