<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
    <div>
        <h3>Adding new book:</h3>
        <div>
            <form method="POST" action="/books">

                <label for="name">Name</label>
                <input id="name" type="text" th:value="${book.getgetName()}">
                <br/>

                <label for="author">Author</label>
                <input id="author" type="text" th:value="${book.getAuthor().getName()}">
                <br/>

                <label for="year">Year</label>
                <input id="year" type="text" th:value="${book.getYear()}">
                <br/>

                <input type="submit" value="Add">

            </form>
        </div>
    </div>
</body>
</html>