<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New record</title>
</head>
<body>
    <div>
        <div th:include="commonMenu :: commonMenu"></div>
        <h3>Adding new record:</h3>
        <div>
            <form method="POST" action="/records">

                <label for="book">Book</label>
                <input id="book" type="text" name="book">
                <br/>

                <label for="visitor">Visitor</label>
                <input id="visitor" type="text" name="visitor">
                <br/>

                <input type="submit" value="Add">

            </form>
        </div>
    </div>
</body>
</html>