<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Editing visitor ' + visitor.getName()}">Editing visitor</title>
</head>
<body>
    <div>
        <h3 th:text="${'Editing visitor ' + visitor.getName()}">Editing visitor</h3>
        <div>
            <form method="POST" th:action="@{/visitors/{id}(id=${visitor.getId()})}" th:object="${visitor}">

                <input type="hidden" name="_method" value="PUT">

                <label for="id">Id</label>
                <input id="id" type="text" disabled th:field="*{id}">
                <br/>

                <label for="name">Name</label>
                <input id="name" type="text" th:field="*{name}">
                <br/>
                <br/>

                <input type="submit" value="Update">

            </form>
        </div>
    </div>
</body>
</html>