<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New visitor</title>
</head>
<body>
    <div>
        <div th:include="commonMenu :: commonMenu"></div>
        <h3>Adding new visitor:</h3>
        <div>
            <form method="POST" th:action="@{/visitors}" th:object="${visitor}">

                <label for="name">Name</label>
                <input id="name" type="text" th:field="*{name}">
                <br/>

                <input type="submit" value="Add">

            </form>
        </div>
    </div>
</body>
</html>